
.main {
  min-height: 100vh;
  background-color: #020d3ac4;
  position: relative;
  float: left;
  width: 100%;
}
.verital_center{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  background-color: #020925;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}
section.banner {
  display: flex;
  flex-direction: row;
  min-height: 80vh;
  align-items: center;
}
.distri{
  background: #fff;
  padding: 10px 20px;
  border-radius: 4px;
}
.banner h6 {
  color: #020925;
  font-size: 18px;
  margin: 20px 0px;
  font-weight: 600;
}

.banner .my_progress {
  margin: 10px 0;
  height: 2rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  font-size: .75rem;
  background-color: #e9ecef;
  border-radius: 0.25rem;
}

.progress-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  background-color: #0b0c22;
  transition: width .6s ease;
}
.banner .progress span {
  font-weight: bold;
  border-radius: 4px;
  padding: 0 10px;
  text-align: left;
}
.banner.progress span small {
  float: right;
  margin-top: 2px;
}
.countdown {
  background: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.distri .countdown li span {
  font-size: 18px;
  font-weight: 600;
  color: black;
}
.distri .countdown li p {
  color: #333;
  font-size: 12px;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0px;
}
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
